head{
    background-color:white;
    color:black;
}

body{
    background-color:rgb(110, 137, 160);
    text-align: center;
    color:black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    
}

h1{
    text-align:center;
    color:black;
}

button{
    background-color: linen;
    font-size: 18px;
    width: 15%;
    text-align: center;
}
input{
    background-color: linen;
    font-size: 18px;
    width: 20%;
    text-align: center;
}

img{
    height: 18%;
    margin: 1%;
}

section{
    display: list-item;
}